button .material-icons {
    vertical-align: top;
}
form md-input-container {
    width: 100%;
}
button.md-warn.md-button.md-ink-ripple {
    height: 63%;
}

.classified.ng-enter,
.classified.ng-move {
    transition: 0.4s all;
    opacity: 0;
}
.classified.ng-enter.ng-enter-active,
.classified.ng-move.ng-move-active {
    opacity: 1;
}

.classified.ng-leave {
    animation: 0.4s fade_classified;
}

@keyframes fade_classified {
    from { opacity: 1; }
    to { opacity: 0; }
}